---
import BasicLayout from "../layout/BasicLayout.astro"
import IndexContainer from '../components/indexContainer.astro'

// import { Image } from 'astro:assets';

// import { getCollection } from "astro:content";
// const cards = await getCollection('cardPost')

//console.log(cards)
---


<BasicLayout>

	<!-- <pre> {JSON.stringify(cards, null, 2)} </pre> -->


	<h1>MEINE HEADLESS PAGE</h1>


	<IndexContainer/>



	<!-- <div>
				{
					cards.map((card: any) => (
					<div>
						<h1>{card.data.title}</h1>
						{card.data.cover?.src && (
							<img src={card.data.cover.src} alt={card.data.coverAlt} />
						 )}

						 {card.data.heroImage && ( 
            <Image
              src={card.data.heroImage} 
              alt={card.data.heroImageAlt || `Bild für ${card.data.title}`} 
              width={800} 
             
              loading="lazy" 
              decoding="async"
              class="card-image"
            />
          )}
				
						 <p>{card.body}</p>

					</div>
				))
			}
			
		 </div> -->

		 

</BasicLayout>



